
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicToc</title>
</head>
<script>
    $(document).ready(function() {
        alert('sd')
        // window.open('https://docs.google.com/spreadsheets/d/1L58KPXZsRYEdkm1NycEm4qJ50xSen0rmVEMLYQpkMSc/edit#gid=0', '_SELF');
        window.open("https://docs.google.com/spreadsheets/d/1L58KPXZsRYEdkm1NycEm4qJ50xSen0rmVEMLYQpkMSc/edit#gid=0");
    });
</script>
<body>
    <h1>HI HIHIHIHIHII </h1>
</body>
</html>
<script>


</script>