{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="banner"><div class="slideshow"><div class="slider-banner-container"><div class="slider-banner"><ul>
	<!-- slide 1 start -->
	<li data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="7000">
	
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/cannon_firing.jpg' %}" alt="kenburns"  data-bgposition="top center" data-kenburns="on" data-duration="18000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="bottom left">

		<!-- LAYER NR. 1 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x=""
			data-y="440" 
			data-speed="600"
			data-start="2000"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/2016_Homepage_Slider_Sponsors.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 1 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="350"
			data-y="350" 
			data-speed="600"
			data-start="2100"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/HCSS.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 3 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="620"
			data-y="350" 
			data-speed="300"
			data-start="2500"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/TeamRWBLogo.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="730"
			data-y="350" 
			data-speed="300"
			data-start="2800"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/LoneStarBeer.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="830"
			data-y="350" 
			data-speed="300"
			data-start="3100"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/LukesLogo.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="995"
			data-y="350" 
			data-speed="300"
			data-start="3400"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/OverNite.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="700"
			data-y="430" 
			data-speed="300"
			data-start="3900"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/FMC.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="830"
			data-y="430" 
			data-speed="300"
			data-start="4000"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/TTR.png' %}" alt="">
		</div>
		
		<!-- LAYER NR. 4 -->
		<div class="tp-caption sfr tp-resizeme"
			data-x="950"
			data-y="430" 
			data-speed="300"
			data-start="4100"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/CocaCola.png' %}" alt="">
		</div>
	</li>
	
	<!-- slide 2 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Party_Mullets_Bandits.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center right">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x="350"
			data-y="510" 
			data-speed="600"
			data-start="1000"
			data-end=""
			data-endspeed="600">Party at the TIP (Texas Independence Party) with 1,000 others on Friday, April 1!
		</div>
	</li>
	
	<!-- slide 3 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Tats_On_Hands.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center right">
	</li>
	
	<!-- slide 4 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Apples_With_Lights_In_Hair.jpg' %}"  alt="kenburns"  data-bgposition="top center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="109" data-bgpositionend="top right">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x="620"
			data-y="" 
			data-speed="600"
			data-start="2000"
			data-end=""
			data-endspeed="600">
		</div>
	</li>
	
	<!-- slide 5 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Start_Posterized.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center left">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x=""
			data-y="" 
			data-speed="600"
			data-start="700"
			data-end=""
			data-endspeed="600">1. Get pumped with your team's song
		</div>

		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x=""
			data-y="25" 
			data-speed="600"
			data-start="1200"
			data-end=""
			data-endspeed="600">2. Take some pics
		</div>

		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x=""
			data-y="50" 
			data-speed="600"
			data-start="1700"
			data-end=""
			data-endspeed="600">3. Commence this year's journey of a lifetime with a cannon blast!
		</div>
	</li>
	
	<!-- slide 6 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/C4_Explodes_At_Start.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center left">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x="680"
			data-y="400" 
			data-speed="600"
			data-start="1000"
			data-end=""
			data-endspeed="600">Let's Go!! The first team starts at 6AM! <br> 
			(The fastest teams will start about 8 hours later.)
		</div>
	</li>
	
	<!-- slide 7 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Loose_Cannons_At_Museum.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="103" data-bgfitend="95" data-bgpositionend="center center">
		<!-- LAYER NR. 2 -->
		<div class="tp-caption large_bold_black sfb medium tp-resizeme"
			data-x="145"
			data-y="400" 
			data-speed="600"
			data-start="800"
			data-end=""
			data-endspeed="600"> 
			For The Loose Cannons,
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption large_bold_black sfb medium tp-resizeme"
			data-x="145"
			data-y="430" 
			data-speed="600"
			data-start="1200"
			data-end=""
			data-endspeed="600"> 
			it's 200 Gloria smiles!	
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption tp-resizeme"
			data-x="625"
			data-y="30" 
			data-speed="600"
			data-start="2000"
			data-end="1900"
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/Gloria.png' %}" alt="">
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption tp-resizeme"
			data-x="625"
			data-y="30" 
			data-speed="600"
			data-start="2200"
			data-end="2500"
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/Gloria.png' %}" alt="">
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption tp-resizeme"
			data-x="625"
			data-y="30" 
			data-speed="600"
			data-start="2700"
			data-end=""
			data-endspeed="600"><img src="{% static 'images/homepage_sliders/Gloria.png' %}" alt="">
		</div>
	</li>
	
	<!-- slide 8 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Mullets_2015_Start.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="23000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="105" data-bgpositionend="center top">
	</li>
	
	<!-- slide 9 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src='{% static "images/homepage_sliders/TurboTaTas_Jumping.jpg" %}'  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="103" data-bgpositionend="center right">
	</li>
	
	<!-- slide 10 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src='{% static "images/homepage_sliders/FearMe-ImAMother.png" %}'  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="103" data-bgpositionend="center bottom">
	</li>
	
	<!-- slide 11 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Planks_Start.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center left">
	</li>
	
	<!-- slide 12 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Dollz_And_Towel_Boyz.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-bgfit="106" data-bgfitend="100" data-bgpositionend="center center">
	</li>
		
	<!-- slide 13 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/TeamRWB_On_Dirt_Road.jpg' %}"  alt="kenburns"  data-bgposition="top center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="top right">
	</li>
	
	<!-- slide 14 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="10000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Going_On_The_Tracks.jpg' %}"  alt="kenburns"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="102" data-bgpositionend="top right">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption large_text sfb medium tp-resizeme"
			data-x="200"
			data-y="" 
			data-speed="600"
			data-start="8000"
			data-end=""
			data-endspeed="600">Have one another's back at the TIR!
		</div>
	</li>
	
	<!-- slide 15 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Guy_Running_Dirt_Road_Wood_Fence.jpg' %}"  alt="kenburns"  data-bgposition="top right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center left">
	</li>
	
	<!-- slide 16 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Wildflowers.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="">
	</li>
	
	<!-- slide 17 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Lyric.jpg' %}"  alt="kenburns"  data-bgposition="top left" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="center center">
	</li>
	
	<!-- slide 18 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Team_Tunnel_Weimar.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="109" data-bgpositionend="center left">
	</li>
	
	<!-- slide 19 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Two_Guys_In_Wildflowers.jpg' %}"  alt="kenburns"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="104" data-bgfitend="100" data-bgpositionend="center bottom">
	</li>
	
	<!-- slide 20 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Three_Peeps_In_Wildflowers.jpg' %}"  alt="kenburns"  data-bgposition="left top" data-kenburns="on" data-duration="13000" data-ease="Linear.easeNone" data-bgfit="107" data-bgfitend="100" data-bgpositionend="center center">
	</li>
	
	<!-- slide 21 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Team_At_Night_Desolate.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center right">
	</li>
	
	<!-- slide 22 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/TeamRWB_Night_Exchange.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="18000" data-ease="Linear.easeNone" data-bgfit="105" data-bgfitend="101" data-bgpositionend="center center">
	</li>
	
	<!-- slide 23 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/4_Runners_At_Night.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center right">
	</li>
	
	<!-- slide 24 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Runner_Arriving_Active_Exchange.jpg' %}"  alt="kenburns"  data-bgposition="center right" data-kenburns="on" data-duration="15000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center top">
	</li>
	
	<!-- slide 25 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Memorial_Park_Exchange.jpg' %}"  alt="kenburns"  data-bgposition="bottom left" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center top">
	</li>
	
	<!-- slide 26 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Guy_On_Buffalo_Bayou_Bridge.jpg' %}"  alt="kenburns"  data-bgposition="top left" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center center">
	</li>
	
	<!-- slide 27 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Downtown_Exchange.jpg' %}"  alt="kenburns"  data-bgposition="bottom right" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="bottom left">
	</li>
	
	<!-- slide 28 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Guys_At_Sam_Houston_Altered.png' %}"  alt="kenburns"  data-bgposition="top center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center center">
	</li>
	
	<!-- slide 29 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/TIRminators_At_Finish.jpg' %}"  alt="kenburns"  data-bgposition="top center" data-kenburns="on" data-duration="4500" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center right">
	</li>
	
	<!-- slide 30 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Approaching_Monument.jpg' %}"  alt="kenburns"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center right">
	</li>
	
	<!-- slide 31 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Kirksey_Finishing.jpg' %}"  alt="kenburns"  data-bgposition="bottom right" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="top left">
	</li>
	
	<!-- slide 32 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Tarahumaras_At_Finish.jpg' %}"  alt="kenburns"  data-bgposition="top left" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="103" data-bgpositionend="bottom right">
	</li>
	
	<!-- slide 33 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="3000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Monument_Jumpers.jpg' %}"  alt="kenburns"  data-bgposition="bottom right" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="top left">
	</li>
	
	<!-- slide 34 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="4000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Team_Final_Pic_Monument_Blueish.jpg' %}"  alt="kenburns"  data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="107" data-bgpositionend="center top">
	</li>
	
	<!-- slide 35 start -->
	<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Great Course Legs" data-delay="9000">
		<!-- main image -->
		<img src="{% static 'images/homepage_sliders/Old_Texas_Map10.jpg' %}"  alt="kenburns"  data-bgposition="center bottom" data-kenburns="on" data-duration="2000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="105" data-bgpositionend="bottom right">
	</li>
</ul><div class="tp-bannertimer tp-bottom"></div></div></div></div></div>
<?php } ?>

<link rel='stylesheet' id='js_composer_front-css'  href="{% static 'css/js_composer.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='ultimate-style-css'  href="{% static 'css/style.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='ult-flip-style-css'  href="{% static 'css/flip-box.min.css' %}" type='text/css' media='' />
<script type='text/javascript' src="{% static 'plugins/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom.min.js' %}"></script>

<section class="container-wrap main-color" style="padding-top:10px;padding-bottom: 0px;min-height: 0px;">
	<div class="section-container container"><div class="row">
		<div class="col-sm-12 wpb_column column_container">
			<div class="wpb_wrapper">
				<div style="height:10px;line-height:0px;"></div>
				<div class="kleo_text_column wpb_content_element " style=" font-size:16px;">
					<div class="wpb_wrapper">
						<h2 style="text-align: center;">RUNNING THE DREAM - <b>TIR 2017!</b></h2>
					</div> 
				</div> 
				<div style="height:0px;line-height:0px;"></div>
				<div class="vc_row wpb_row vc_inner row" style="overflow:hidden;">
					<div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
						<div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height"  >
							<div class="ifb-flip-box">
								<div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
											<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
												<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons1.png' %}"/>
											</div>
										</div></div></div>
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Texas and the TIR</h3>
									</div>
								</div><!-- END .front -->
								<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Texas History, State Facts, & the TIR</h3>
										<div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
											<p>If you moved to Texas after 7th grade (and missed out on Texas History), then please review this basic summation of Texas History - right now!!!  There's some other stuff here, too..</p>
											<p></p>
										</div></div>
										<div class="flip_link"><a href = "/history"  style="background:#c00000; color:#ffffff;">Educate Yourself</a></div>
									</div>
								</div><!-- END .back -->
							</div> <!-- ifb-flip-box -->
						</div> <!-- flip-box --></div><!-- End icon block -->
					</div></div>
					<div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
						<div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height" >
							<div class="ifb-flip-box">
								<div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
											<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
												<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons2.png' %}"/>
											</div>
										</div></div></div>
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Let's Do This!</h3>
									</div>
								</div><!-- END .front -->
								<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Race or Support - Choose at least one!</h3>
										<div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
											<p>The majority of TIR participants simply enjoy to run and have fun, which is awesome!  But, 
											you can also volunteer, sponsor, and raise money for a great cause - all while having a blast!</p>
											<p></p>
										</div></div>
										<div class="flip_link"><a href = "/volunteer"  style="background:#c00000; color:#ffffff;">Sign Up Today</a></div>
									</div>
								</div><!-- END .back -->
							</div> <!-- ifb-flip-box -->
						</div> <!-- flip-box --></div><!-- End icon block -->
					</div></div>
					<div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
						<div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height"   >
							<div class="ifb-flip-box">
								<div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
											<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
												<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons3.png' %}"/>
											</div>
										</div></div></div>
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Love to Hear From You</h3>
									</div>
								</div><!-- END .front -->
								<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
									<div class="ifb-flip-box-section ">
										<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Hey!! What's up?!</h3>
										<div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
											<p>We REALLY want you to have the very best and most enjoyable experience at the TIR!  Don't 
											hesitate to give us a call or send a note any time... we absolutely would love to hear from you!</p>
											<p></p>
										</div></div>
										<div class="flip_link"><a href="tel:512-716-5041" target=" _blank" style="background:#c00000; color:#ffffff;">Call Us</a></div>
									</div>
								</div><!-- END .back -->
							</div> <!-- ifb-flip-box -->
						</div> <!-- flip-box --></div><!-- End icon block -->
					</div></div>
					<div style="clear:both"></div>
				</div>
			</div> 
		</div> 
	</div></div>
</section>
<!-- end section -->
<div class="container">

<font color="#c00000">199 Problems (Captain: Ashley Mackey of Fort Worth)</font> --
<font color="#000069">2Slow 2Win 2Dumb 2Quit (Captain: Rick Bozanich of Katy)</font> --
<font color="#c00000">7 dudes & 6 boobs in pursuit (Captain: Matthew Leighton of League City)</font> --
<font color="#000069">ACRC Team (Temp) (Captain: Pengfei Cui of Cedar Park)</font> --
<font color="#c00000">Austin Front Runners - Fast & Fabulous (Captain: Glenn Brown of Austin)</font> --
<font color="#000069">Austin Front Runners Team Mo-Mentum (Captain: Robert Rodriguez of Austin)</font> --
<font color="#c00000">Blood Sweat & BEERS (Captain: Anthony Boatman of Georgetown)</font> --
<font color="#000069">Bucket List (Captain: Trish Smith of Cypress)</font> --
<font color="#c00000">Chafing the Dream (Captain: Julie Luebbert of Fort Worth)</font> --
<font color="#000069">Chevron Accelerators (Captain: Bob Sevin of Richmond)</font> --
<font color="#c00000">Chisholm Trail Slowpokes (Captain: Chad Kirkland of Willow Park)</font> --
<font color="#000069">City of La Porte Road Dawgs (Captain: Matt Daeumer of La Porte)</font> --
<font color="#c00000">Corsicana Running Club (Captain: Brandy Nance of Corsicana)</font> --
<font color="#000069">Crockett's Rockets (Captain: Wendy Stewart of Houston)</font> --
<font color="#c00000">Crushinators (Captain: Monica Vidal of Houston)</font> --
<font color="#000069">dallas does houston (Captain: TERRY ZIEGLER of RICHARDSON)</font> --
<font color="#c00000">DallAss Kickers (Captain: Megan Smyth of Dallas)</font> --
<font color="#000069">Danger Zone (Captain: David Leach of League City)</font> --
<font color="#c00000">DOGs (Captain: Rick Mikeska of Houston)</font> --
<font color="#000069">Don't Stop..Give 'Em Hell (Captain: Vic Seidel of College Station)</font> --
<font color="#c00000">Drinkers With A Running Problem (Captain: Andy Smith of Portland)</font> --
<font color="#000069">EDP Renewables (Captain: Mike Peck of Cypress)</font> --
<font color="#c00000">ExtraTIRrestrials (Captain: Jennifer Hoskovec of Houston)</font> --
<font color="#000069">Facet7 (Captain: Mayra Rios of Houston)</font> --
<font color="#c00000">fireballs (Captain: michael luna of houston)</font> --
<font color="#000069">GOING H.A.M. FOR SAM (Captain: Jaime Cruz of Katy)</font> --
<font color="#c00000">HCSS Fast Track (Captain: Dalton Pulsipher of Sugar Land)</font> --
<font color="#000069">HCSS Heavy Haulers (Captain: Ashley Organ of Sugar Land Texas)</font> --
<font color="#c00000">High Voltage (Captain: Michael Cagle of Houston)</font> --
<font color="#000069">Holy Fit Not Again (Captain: Karin Slough of Jones Creek)</font> --
<font color="#c00000">If I Die...Stop My Garmin!! (Captain: Allyson Lawler of Cedar Park)</font> --
<font color="#000069">Intolerant 12 (Captain: Robert Roberts of Katy)</font> --
<font color="#c00000">ISLAGIATT (Captain: Sudharsan Arunachalam of The Woodlands)</font> --
<font color="#000069">Jessica said RUM! (Captain: Jessica Rowan of Fort Worth)</font> --
<font color="#c00000">Kirksey Cannons (Captain: Russell Wooten of Houston)</font> --
<font color="#000069">Kung Fu Racing Team (Captain: Hung Cao of Houston)</font> --
<font color="#c00000">LarJoy (Captain: Lara Gwyn of Houston)</font> --
<font color="#000069">Lead Slingers (Captain: Joseph Wiseley of Lubbock)</font> --
<font color="#c00000">Life Is On (Captain: Lars Larsson of Houston)</font> --
<font color="#000069">Lone Star 12.1 (Captain: Marty Yost of Houston)</font> --
<font color="#c00000">Lone Star 12.2 (Captain: Martin Yost of Houston)</font> --
<font color="#000069">Longest Pub Crawl Ever (Captain: Chris Barnett of Houston)</font> --
<font color="#c00000">Lost in Pace (Captain: Jeremias Castillo of Houston)</font> --
<font color="#000069">Lost in Texas (Captain: Michael Lee of Houston)</font> --
<font color="#c00000">Mama Bears (Captain: Tina Thibodeaux of Kingwoo)</font> --
<font color="#000069">Master Panda (Captain: Zhenggang Xu of Houston)</font> --
<font color="#c00000">Memorial Run Club - Team 1 (Captain: Clint Cooper of Houston)</font> --
<font color="#000069">Mighty Knights JROTC Clear Falls HS (Captain: James Courtney of League City)</font> --
<font color="#c00000">Moonshadow Runners (Captain: Billy Walker of Sachse)</font> --
<font color="#000069">Mother Truckers (Captain: Martha Parker of Houston)</font> --
<font color="#c00000">MRC womens (Captain: Abby Goldsmith of Houston)</font> --
<font color="#000069">MRC_TBD (Captain: Mellissa Federico of McKinney)</font> --
<font color="#c00000">Pray, Run, Sparkle (Captain: Tori Benard of Baytown)</font> --
<font color="#000069">PRx Honey Badgers (Captain: Brooke Sizer of Houston)</font> --
<font color="#c00000">Pulled Pork and Hamstrings (Captain: Dave Obermann of Austin)</font> --
<font color="#000069">Racing Rattlers (Captain: Kye Jackson of Austin)</font> --
<font color="#c00000">Raven Scrapers (Captain: Scott Homann of Kingwood)</font> --
<font color="#000069">Rawhide Roadrunners (Captain: Rick Routzon of Houston)</font> --
<font color="#c00000">Rick James and the Super Freaks (Captain: Richard Wachtman of Houston)</font> --
<font color="#000069">Road Warriors (Captain: Louis Delgado of San Antonio)</font> --
<font color="#c00000">Roaming Gnomes (Captain: Patty Kallman of Houston)</font> --
<font color="#000069">Rowdy Loafers (Captain: Martin Wipf of Houston)</font> --
<font color="#c00000">Running Ramblers (Captain: Xavier Avila of Deer Park)</font> --
<font color="#000069">Silver Bullets (Captain: Jim Plutt of Houston)</font> --
<font color="#c00000">Sisters with Blisters (Captain: Amy Moore of Austin)</font> --
<font color="#000069">Slammin' Tim Tams (Captain: Seung Park of Houston)</font> --
<font color="#c00000">Slow n Lazy (Captain: Jon Furr of Katy)</font> --
<font color="#000069">Spaghetti Legs and Sweaty Balls (Captain: Ricky Chapman of Fulshear)</font> --
<font color="#c00000">Super Heros In Training (Captain: Glen Arnold of Lufkin)</font> --
<font color="#000069">Sweatbanded Heathens (Captain: Shelley Batten of Houston)</font> --
<font color="#c00000">TBD (Captain: Kendal Ashworth of Austin)</font> --
<font color="#000069">TBD (Captain: Tim Leeth of McKinney)</font> --
<font color="#c00000">Team Brock (Captain: Amber Brock of The Woodlands)</font> --
<font color="#000069">TEAM KINISI (Captain: Mark Kent of Bedford)</font> --
<font color="#c00000">Team Most Likely to Secede (Captain: James Coburn of Austin)</font> --
<font color="#000069">Team Rum Cake (Captain: Adam Eiler of Houston)</font> --
<font color="#c00000">Team RWB San Antonio (Captain: Adam Munich of San Antonio)</font> --
<font color="#000069">Team Taco RWB (Captain: CINDY FALSCHLEHNER of HOUSTON)</font> --
<font color="#c00000">Team TBD (Captain: Teri Garrett of Houston)</font> --
<font color="#000069">Team Texas Snowdrop (Captain: Traci Duck of Dickinson)</font> --
<font color="#c00000">Team TSHA (Captain: Andrew Torget of Denton)</font> --
<font color="#000069">Team we got this (Captain: David Duroy of Conroe)</font> --
<font color="#c00000">Tenaris Turtles (Captain: Gabe Belforti of )</font> --
<font color="#000069">Texan Trots (Captain: BJ Braaten of Houston)</font> --
<font color="#c00000">Texas Road Kill Search Team -III (Captain: Meltem Ballan of Dallas)</font> --
<font color="#000069">Texas Roadkill Search Team (Captain: John Barfoot of Ingleside)</font> --
<font color="#c00000">The Apples-A Decade of Running the Dream (Captain: Pam Owens of The Woodlands)</font> --
<font color="#000069">The Beer View Mirrors (Captain: Natalie Perry of Katy)</font> --
<font color="#c00000">The GOATS (Captain: Omar Venzor of Dallas)</font> --
<font color="#000069">The Loose Cannons (Captain: Laurie Petty of Friendswood)</font> --
<font color="#c00000">The MRC Vanimals (Captain: Dan Hunter of Houston)</font> --
<font color="#000069">The Peeps (Captain: David Stockton of Deer Park)</font> --
<font color="#c00000">TIRminators (Captain: Isaac Fox of Houston)</font> --
<font color="#000069">To Be Determined (Captain: Kevin Keeling of Pearland)</font> --
<font color="#c00000">Victorious Secret (Captain: Veronica Padilla of Angleton)</font> --
<font color="#000069">West Houston Forty (Captain: Mark Callahan of Houston)</font> --
<font color="#c00000">Wordsworth Running Club (Captain: Ron Oran of Houston)</font> --
<font color="#000069">Young Guns & Old Goats (Captain: Jacob Riemer of Spring)</font> --
<font color="#c00000">Your Pace or Mine? Take 2 (Captain: Brad Clyburn of Aledo)</font> --
<font color="#000069">Zombie Koalas (Captain: Megan Belcher of Houston)</font> --
</div>
	
<div class="section clearfix">
	<div class="container">
		<div class="entry-content">
			<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;"><strong>The Challenge</strong></h3>
			<p><h8 style="color:#777777; font-weight:normal; font-size:18px;line-height:20px;">The Texas Independence Relay is composed of 40 relay legs of various lengths, totaling over 200 miles.  The course starts in 
			Gonzales, where the spark of the Texas Revolution took place, and it finishes at the San Jacinto Monument, where Texas 
			Independence was won! To tackle this formidable task, your team will have of up to 12 members (your choice!), and 
			you&#8217;ll have an exceptional time furthering good friendships and making new ones!  You&#8217;ll encourage each other 
			along the way while you  visit the small cities of Gonzales, Shiner, Moulton, Flatonia, Schulenburg, Weimar,  Borden, Columbus, 
			Altair, Eagle Lake, Wallis, Orchard, Simonton, and  Fulshear.  Then, you&#8217;ll make your way through the paramount city of 
			Houston, experiencing it in a way you never have before!  Racing on a team with your friends in this unique format over an 
			incomparable span of Texas steeped with momentous history all amounts to a GREAT time that you’ll fondly remember for... well.. 
			the rest of your life!  This all takes place over Saturday and Sunday, March 25-26, and don&#8217;t forget the Texas Independence Party 
			(the TIP!) on Friday, March 24! Come and take it…  if you have  what it takes!</h8></p>

			<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;"><strong>Your Epic Texas Journey</strong></h3>
			<h8 style="color:#777777; font-weight:normal; font-size:18px;line-height:20px;"><p><img src="{% static '/images/TIR_Start_Line.jpg' %}" alt="" hspace="15" vspace="10" width="415" align="right" />Gonzales is a 
			wonderfully welcoming town, rich with history and attractive to tourists looking to escape the big city!  Your entire  team will 
			run a small loop together around downtown, marking the  commencement of your journey.  You’ll enjoy picturesque rolling hills replete
			with blooming Texas wildflowers on perfect relay roads as you journey over rural dirt roads - even passing Sam Houston&#8217;s Tree!  After leaving Gonzales, you&#8217;ll 
			get a taste of smaller Texas towns with exceptionally large hearts!  Shiner, Moulton, Flatonia, Schulenburg, and Weimar, you’ll 
			appreciate each town&#8217;s individual flavor, but you will also note that they all possess a distinct relaxing quality.   By 
			the time your team reaches Columbus, the sun will be retiring for the day.</p>
			<p>Eagle Lake, Wallis, Orchard, Simonton, and Fulshear will be sleeping  communities as you pass through (though at least a few 
			will stay up to  curiously observe your unrelenting journey through the night). Pressing  on tirelessly toward the finish, you 
			and your team will follow the beacons of flashing lights (other runners).</p>
			<p><img src="{% static '/images/Houston_Skyline.jpg' %}" alt="" hspace="10" vspace="10" width="415" align="left" />When you begin to make 
			your way through Cinco Ranch on the west side of Houston, you’ll notice early indicators that a new day is being gifted to us! You’ll 
			also become aware that you’re crossing the threshold between country and city.  Between here and downtown, you’ll traverse paths 
			that wind through pleasing parks (George Bush Park, Terry Hershey Park,  Memorial Park, and the Buffalo Bayou).  You’ll admire 
			stately homes in well-preserved neighborhoods, and then, you’ll stride through Houston&#8217;s very downtown, passing right by 
			reflective sky scrapers and the Toyota Center!<br /><br />
			After exiting downtown, you’ll head south to Houston's museum district and Hermann Park, even passing beneath Sam Houston's impressive statue
			that points the way to the finish!  You'll continue to navigate east on the Brays Bayou Path followed by quiet neighborhoods. 
			Finally, your epic Texas journey culminates with a momentous celebratory finish in La Porte at the 
			San Jacinto Battleground and Monument!</p></h8>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'plugins/jquery.marquee.min.js' %}"></script>
<script type="text/javascript">
$('.marquee').removeClass("hide").marquee({
	duration:12000,
	pauseOnHover:true
});
</script>
{% endblock content %}