{% extends 'history/index.html' %}
{% load static %}
{% block content %}


<div class="section clearfix">
	<div class="container">
		<h1 class="entry-title">Race Information</h1>
		<div class="entry-content">
		<h3><strong>The Challenge</strong></h3>
		<p>The Texas Independence Relay is composed of 40 relay legs of various  lengths, totaling over 200 miles.  The course starts in 
		Gonzales, where the spark of the Texas Revolution took place, and it finishes at the San Jacinto Monument, where Texas 
		Independence was won! To tackle this formidable  task, your team will be composed of up to 12 members (your choice!), and 
		you&#8217;ll have an exceptional time either furthering good friendships or making new ones!  You&#8217;ll encourage each other 
		along the way while you  visit the small cities of Gonzales, Shiner, Moulton, Flatonia, Schulenburg, Weimar,  Borden, Columbus, 
		Altair, Eagle Lake, Wallis, Orchard, Simonton, and  Fulshear.  Then, you&#8217;ll make your way through the paramount city of 
		Houston, experiencing it in a way you never have before!  Racing on a  team with your friends in this unique format over an 
		incomparable span  of Texas steeped with momentous history all amounts to a GREAT time that you’ll fondly remember for years 
		to come!  This all takes place over Saturday and Sunday, April 2-3 (and don&#8217;t forget the party on Friday, April 1!).  
		Come and take it…  if you have  what it takes!</p>
		<p>&nbsp;</p>
		<h3><a href="/map">Course Map (click on the map below to go to our interactive course map with information about each leg)</a></h3>
		<p><a href="/map"><img src="{% static '/images/im_map_image.jpg' %}" alt="" width="738" height="258" align="top" /></a></p>
		<p>Detailed maps for every leg will be provided in the race manual and can be found on our interactive map. Specifics are subject 
		to change, so please refer to the Race Updates section (and perhaps sign up to receive  the updates) to get the most current 
		information.</p>
		<h3><strong>Course Description</strong></h3>
		<p><img src="{% static '/images/leo_starts_tir_team.png' %}" alt="" hspace="25" width="270" height="300" align="right" />Gonzales is an 
		exceedingly welcoming town, rich with history and attractive to tourists looking to escape the big city!  Your entire  team will 
		run a small loop together around downtown, marking the  commencement of your journey.  You’ll enjoy picturesque rolling  hills 
		on perfect relay roads as you journey over rural dirt roads and Sam Houston&#8217;s Tree!  After leaving Gonzales, you&#8217;ll 
		get a taste of smaller Texas towns with exceptionally large hearts!  Shiner, Moulton, Flatonia, Schulenburg, and Weimar, you’ll 
		appreciate each town&#8217;s individual flavor, but you will also note that they all possess a distinct relaxing quality.   By 
		the time your team reaches Columbus, the sun will be retiring for the day.</p>
		<p>Eagle Lake, Wallis, Orchard, Simonton, and Fulshear will be sleeping  communities as you pass through (though at least a few 
		will stay up to  curiously observe your unrelenting journey through the night). Pressing  on tirelessly toward the finish, you 
		and your team will follow the trail  of little flashing lights (other runners).</p>
		<p><img src="{% static '/images/TIR_Houston_Skyline3.jpg' %}" alt="" hspace="25" width="248" height="201" align="left" />When you begin to make 
		your way through Cinco Ranch on the west side of  Houston, you’ll notice the early indicators that a new day is underway. You’ll 
		also become aware that you’re crossing the threshold between  country and city.  Between here and downtown, you’ll traverse paths 
		that  wind through pleasing parks (George Bush Park, Terry Hershey Park,  Memorial Park, and the Buffalo Bayou).  You’ll admire 
		stately homes in well-preserved neighborhoods, and then, you’ll stride through Houston&#8217;s very downtown, passing right by 
		reflective sky scrapers and making your way around the Toyota Center!<br /><br />
		After exiting downtown, you’ll navigate through an industrial section of Houston that is quickly followed by quiet neighborhoods. 
		Then you’ll march due east towards the vast Ship Channel &#8211; all culminating  with a celebratory finish in La Porte at the 
		San Jacinto Battleground and Monument!</p>
	</div>
</div>
{% endblock content %}