#comp-jsijlaam__item-jq8ljemsinlineContent {
    height: auto;
    width: 100%;
    position: relative;
}

#comp-jsijlaam__item-jq8ljemsinlineContent-gridWrapper {
    pointer-events: none;
}

#comp-jsijlaam__item-jq8ljemsinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
#comp-jsijlabu__item-jq8ljems {
    position: relative;
    left: 60%;
    display: none;
    top: 0px;
}

#comp-jsijlabu__item-jq8ljems-rotated-wrapper {
    position: static;
    height: 13px;
    width: 0;
    margin: 217px 0px 23px 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jsijladf__item-jq8ljems {
    position: relative;
    margin-top: 20px;
    left: 27px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jsijlaf2__item-jq8ljems {
    position: relative;
    margin: 210px 0px 17px 0;
    left: 60%;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jsijlaam__item-jq8ljemscenteredContent {
    position: relative;
}

#comp-jsijlaam__item-jq8ljemsinlineContent-gridContainer > * {
    pointer-events: auto;
}

#comp-jsijlaam__item-jq8ljemsinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#comp-jsijlaam__item-jq8ljemsinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: auto;
}