.pc1screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.pc1[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.pc1[data-state~="fixedPosition"].pc1_footer {top:auto;bottom:0;}
.pc1bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.pc1[data-is-absolute-layout="true"] > .pc1centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.pc1[data-is-absolute-layout="true"] > .pc1centeredContent > .pc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
