/* .style-k79voianbg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(127, 204, 247, 1);}   */
/* middle-background-color was changed by mis */
.style-k79voianbg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(10, 10, 10, 1);}  
.style-k79voian[data-state~="mobileView"] .style-k79voianbg {left:10px;right:10px;}
.style-k79voianinlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
