.style-jsijlabo1:not([data-mobile-responsive]) .style-jsijlabo1inlineContent,.style-jsijlabo1:not([data-mobile-responsive]) .style-jsijlabo1container {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="style-jsijlacd1">.style-jsijlacd1 {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.style-jsijlacd1link,.style-jsijlacd1svg {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-jsijlacd1 svg {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;margin:auto;}
.style-jsijlacd1_non-scaling-stroke * {vector-effect:non-scaling-stroke;}
.style-jsijlacd1_with-shadow svg {overflow:visible !important;}
