.color_0 {color: #FFFFFF;}
.backcolor_0 {background-color: #FFFFFF;}
.color_1 {color: #FFFFFF;}
.backcolor_1 {background-color: #FFFFFF;}
.color_2 {color: #000000;}
.backcolor_2 {background-color: #000000;}
.color_3 {color: #ED1C24;}
.backcolor_3 {background-color: #ED1C24;}
.color_4 {color: #0088CB;}
.backcolor_4 {background-color: #0088CB;}
.color_5 {color: #FFCB05;}
.backcolor_5 {background-color: #FFCB05;}
.color_6 {color: #727272;}
.backcolor_6 {background-color: #727272;}
.color_7 {color: #B0B0B0;}
.backcolor_7 {background-color: #B0B0B0;}
.color_8 {color: #FFFFFF;}
.backcolor_8 {background-color: #FFFFFF;}
.color_9 {color: #727272;}
.backcolor_9 {background-color: #727272;}
.color_10 {color: #B0B0B0;}
.backcolor_10 {background-color: #B0B0B0;}
.color_11 {color: #FFFFFF;}
.backcolor_11 {background-color: #FFFFFF;}
.color_12 {color: #E8E6E6;}
.backcolor_12 {background-color: #E8E6E6;}
.color_13 {color: #C7C7C7;}
.backcolor_13 {background-color: #C7C7C7;}
.color_14 {color: #999997;}
.backcolor_14 {background-color: #999997;}
.color_15 {color: #414141;}
.backcolor_15 {background-color: #414141;}
.color_16 {color: #D9F0FD;}
.backcolor_16 {background-color: #D9F0FD;}
.color_17 {color: #BEE5FB;}
.backcolor_17 {background-color: #BEE5FB;}
.color_18 {color: #7FCCF7;}
.backcolor_18 {background-color: #7FCCF7;}
.color_19 {color: #40667C;}
.backcolor_19 {background-color: #40667C;}
.color_20 {color: #213D4D;}
.backcolor_20 {background-color: #213D4D;}
.color_21 {color: #ADC6F8;}
.backcolor_21 {background-color: #ADC6F8;}
.color_22 {color: #83A8F0;}
.backcolor_22 {background-color: #83A8F0;}
.color_23 {color: #155DE9;}
.backcolor_23 {background-color: #155DE9;}
.color_24 {color: #0E3E9B;}
.backcolor_24 {background-color: #0E3E9B;}
.color_25 {color: #071F4E;}
.backcolor_25 {background-color: #071F4E;}
.color_26 {color: #C4AEDD;}
.backcolor_26 {background-color: #C4AEDD;}
.color_27 {color: #9C7FBA;}
.backcolor_27 {background-color: #9C7FBA;}
.color_28 {color: #663898;}
.backcolor_28 {background-color: #663898;}
.color_29 {color: #442565;}
.backcolor_29 {background-color: #442565;}
.color_30 {color: #221333;}
.backcolor_30 {background-color: #221333;}
.color_31 {color: #E5FAD1;}
.backcolor_31 {background-color: #E5FAD1;}
.color_32 {color: #CAE5AF;}
.backcolor_32 {background-color: #CAE5AF;}
.color_33 {color: #9BCB6C;}
.backcolor_33 {background-color: #9BCB6C;}
.color_34 {color: #4E6636;}
.backcolor_34 {background-color: #4E6636;}
.color_35 {color: #27331B;}
.backcolor_35 {background-color: #27331B;}
