{% extends 'history/index.html' %}
{% load static %}
{% block content %}

<div class="videoContainer">
    <iframe class="videoContainer__video" width="1600" height="900" src="http://www.youtube.com/embed/Ks9JJZduE78?modestbranding=1&autoplay=1&controls=1&fs=0&loop=1&rel=0&rel=0&showinfo=0&disablekb=1&mute=1&playlist=Ks9JJZduE78" frameborder="0"></iframe>
</div>

<link rel='stylesheet' id='js_composer_front-css'  href="{% static 'css/js_composer.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='ultimate-style-css'  href="{% static 'css/style.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='ult-flip-style-css'  href="{% static 'css/flip-box.min.css' %}" type='text/css' media='' />
<script type='text/javascript' src="{% static 'plugins/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom.min.js' %}"></script>

<section class="container-wrap main-color" style="padding-top:10px;padding-bottom: 0px;min-height: 0px;max-height: 500px"><div class="section-container container"><div class="row">
	<div class="col-sm-12 wpb_column column_container">
		<div class="wpb_wrapper">
			<div style="height:10px;line-height:0px;"></div>
	<div class="kleo_text_column wpb_content_element " style=" font-size:16px;">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;">Texas' Overnight Roadtrip Since 1836!</b></h2>
		</div> 
	</div> <div style="height:0px;line-height:0px;"></div><div class="vc_row wpb_row vc_inner row"><div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height"  style="" ><div class="ifb-flip-box"><div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section ">
							<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
	<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons1.png' %}"/>
</div></div></div></div><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Texas and the TIR</h3></div></div><!-- END .front -->
						<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section "><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Texas History, State Facts, & the TIR</h3><div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
<p>If you moved to Texas after 7th grade (and missed out on Texas History), then please review this basic summation of Texas History - right now!!!  There's some other stuff here, too..</p>
<p></p></div></div><div class="flip_link"><a href = "/history"  style="background:#c00000; color:#ffffff;">Educate Yourself</a></div></div></div><!-- END .back --></div> <!-- ifb-flip-box --></div> <!-- flip-box --></div><!-- End icon block --></div></div><div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height"  style="" ><div class="ifb-flip-box"><div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section ">
							<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
	<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons2.png' %}"/>
</div></div></div></div><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Let's Do This!</h3></div></div><!-- END .front -->
						<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section "><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Race or Support - Choose at least one!</h3><div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
<p>The majority of TIR participants simply enjoy to run and have fun, which is awesome!  But, you can also volunteer, sponsor, and raise money for a great cause - all while having a blast!</p>
<p></p></div></div><div class="flip_link"><a href = "/volunteer"  style="background:#c00000; color:#ffffff;">Sign Up Today</a></div></div></div><!-- END .back --></div> <!-- ifb-flip-box --></div> <!-- flip-box --></div><!-- End icon block --></div></div><div class="kleo_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="flip-box-wrap"><div class="flip-box ifb-jq-height  horizontal_flip_left flip-ifb-jq-height"  style="" ><div class="ifb-flip-box"><div class="ifb-face ifb-front" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section ">
							<div class="flip-box-icon"><div class="ult-just-icon-wrapper "><div class="align-icon" style="text-align:center;">
<div class="aio-icon-img " style="font-size:250px;display:inline-block;" >
	<img class="img-icon" alt="" src="{% static '/images/Main-Page-Icons3.png' %}"/>
</div></div></div></div><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Love to Hear From You</h3></div></div><!-- END .front -->
						<div class="ifb-face ifb-back" style="color:#777777;background:#ffffff; border-width: 0px;border-style: solid; border-color:#ffffff;">
							<div class="ifb-flip-box-section "><h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;">Hey!! What's up?!</h3><div class="ifb-desc-back"><div class="ifb-flip-box-section-content" style="font-size:22px;line-height:30px;color:#777777;color:#777777;"><p></p>
<p>We REALLY want you to have the very best and most enjoyable experience at the TIR!  Don't hesitate to give us a call or send a note any time... we absolutely would love to hear from you!</p>
<p></p></div></div><div class="flip_link"><a href="tel:512-716-5041" target=" _blank" style="background:#c00000; color:#ffffff;">Call Us</a></div></div></div><!-- END .back --></div> <!-- ifb-flip-box --></div> <!-- flip-box --></div><!-- End icon block --></div></div></div>
</div> 
	</div> 
</div></section>
<!-- end section -->
		
<div class="section clearfix">
	<div class="container">
		<div class="entry-content">
		<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;"><strong>The Challenge</strong></h3>
		<p><h8 style="color:#777777; font-weight:normal; font-size:18px;line-height:20px;">The Texas Independence Relay is composed of 40 relay legs of various lengths, totaling over 200 miles.  The course starts in 
		Gonzales, where the spark of the Texas Revolution took place, and it finishes at the San Jacinto Monument, where Texas 
		Independence was won! To tackle this formidable task, your team will have of up to 12 members (your choice!), and 
		you&#8217;ll have an exceptional time furthering good friendships and making new ones!  You&#8217;ll encourage each other 
		along the way while you  visit the small cities of Gonzales, Shiner, Moulton, Flatonia, Schulenburg, Weimar,  Borden, Columbus, 
		Altair, Eagle Lake, Wallis, Orchard, Simonton, and  Fulshear.  Then, you&#8217;ll make your way through the paramount city of 
		Houston, experiencing it in a way you never have before!  Racing on a team with your friends in this unique format over an 
		incomparable span of Texas steeped with momentous history all amounts to a GREAT time that you’ll fondly remember for... well.. 
		the rest of your life!  This all takes place over Saturday and Sunday, March 24-25, and don&#8217;t forget the Texas Independence Party 
		(the TIP!) on Friday, March 23! Come and take it…  if you have  what it takes!</p></h8>
	
		<h3 style="color:#777777; font-weight:bold;font-size:24px;line-height:32px;"><strong>Your Epic Texas Journey</strong></h3>
		<h8 style="color:#777777; font-weight:normal; font-size:18px;line-height:20px;"><p><img src="{% static '/images/TIR_Start_Line.jpg' %}" alt="" hspace="15" vspace="10" width="415" align="right" />Gonzales is a 
		wonderfully welcoming town, rich with history and attractive to tourists looking to escape the big city!  Your entire  team will 
		run a small loop together around downtown, marking the  commencement of your journey.  You’ll enjoy picturesque rolling hills replete
		with blooming Texas wildflowers on perfect relay roads as you journey over rural dirt roads - even passing Sam Houston&#8217;s Tree!  After leaving Gonzales, you&#8217;ll 
		get a taste of smaller Texas towns with exceptionally large hearts!  Shiner, Moulton, Flatonia, Schulenburg, and Weimar, you’ll 
		appreciate each town&#8217;s individual flavor, but you will also note that they all possess a distinct relaxing quality.   By 
		the time your team reaches Columbus, the sun will be retiring for the day.</p>
		<p>Eagle Lake, Wallis, Orchard, Simonton, and Fulshear will be sleeping  communities as you pass through (though at least a few 
		will stay up to  curiously observe your unrelenting journey through the night). Pressing  on tirelessly toward the finish, you 
		and your team will follow the beacons of flashing lights (other runners).</p>
		<p><img src="{% static '/images/Houston_Skyline.jpg' %}" alt="" hspace="10" vspace="10" width="415" align="left" />When you begin to make 
		your way through Cinco Ranch on the west side of Houston, you’ll notice early indicators that a new day is being gifted to us! You’ll 
		also become aware that you’re crossing the threshold between country and city.  Between here and downtown, you’ll traverse paths 
		that wind through pleasing parks (George Bush Park, Terry Hershey Park,  Memorial Park, and the Buffalo Bayou).  You’ll admire 
		stately homes in well-preserved neighborhoods, and then, you’ll stride into Houston&#8217;s very downtown, passing right by 
		reflective sky scrapers and then Gloriously finishing atop the TIR Tower!<br /><br />
</p></h8>
	</div>
</div></body>
		
{% endblock content %}