{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="section clearfix">
	<div class="container">
<h1 class="entry-title">Texas Independence History</h1>
<div class="entry-content">
		<p>
<br /><h2>The Revolution</h2><br />
<img src="{% static 'images/SamHoustonHistory.png' %}" align="right">Sam Houston could not have predicted the events leading up to March 2, 1836, the day 
the Texas Declaration of Independence was signed (and Houston was named the Commander-in-Chief), nor could he have anticipated all that 
would take place before the conclusion of the Texas Revolution.<br /><br />
The beginning of the revolution is recognized to have taken place 5 months earlier, on October 2, 1835, in Gonzales. Mexican soldiers 
attempted to retrieve a cannon that was previously given to the American colonists by the Mexican government. Already demonstrating the 
spirit of independence, the colonists replied about the small cannon behind them, “Come and take it!” A skirmish ensued, sparking the 
revolution and the long road to Texas independence.<br /><br />
One week later, General Martin Perfecto de Cos led an initiative to reestablish Mexican control over the Gulf Coast, but this was thwarted 
by Texian dissenters who seized a fort at Goliad. Shortly thereafter, the Battle of Concepcion and the small surprise attack called the 
Grass Fight went beyond simply straining relations.<br /><br />
For the better part of a week, from December 5th to 9th, the Siege of Bexar became the first serious engagement that resulted in surrender 
by General Cos and the Mexican Calvary. It also greatly added to General Antonio Lopez de Santa Anna’s conviction to drive the settlers out 
of Texas.<br /><br />
While Houston was signing the Texas Declaration of Independence at Washington-on-the-Brazos, Colonel James Bowie, Lt. Colonel William Barrett 
Travis, and Davy Crockett led over 200 Texians during their last stand at the Alamo. They were outnumbered by the Mexican army by a ratio of 
greater than 10:1, yet they held the fort for 13 days until the siege ended on March 6, 1836. All of the Texian fighters were executed and 
the surviving women and children were told to spread word to the settlers to get out of Texas.<br /><br />
On March 13, General Houston ordered everyone to leave their homes and belongings and to burn them all (so the Mexican army wouldn’t benefit 
from usage). The settlers fled eastward, and their flight became known as the Runaway Scrape.<br /><br />
Two weeks later, Santa Anna ordered the execution of 345 men at Goliad. Similar outcomes occurred at the battles of Refugio and Coleto. In 
all, 400 were executed.<br /><br />
On April 21, 1836, General Houston and his modestly-sized volunteer army surprised and defeated the Mexican army at the Battle of San 
Jacinto amidst cries of “Remember the Alamo!” and “Remember Goliad!”<br /><br />
It’s been said that in order to see ahead, you must first look back from whence you came. If that’s true, then Texas has a bright future 
since it was not that long ago that many exhibited valiant qualities in claiming Texas’ Independence. Texas’ history is so rich that this 
abbreviated sampling is an injustice. When you delve into it more, you’ll gain a greater appreciation for it just as we have.<br /><br /></p>
<h2>The Come And Take It Flag and The San Jacinto Monument</h2>
<p>Almost instantly after Colonel John Henry Moore uttered the challenge “Come and take it”, it became a popular slogan used in the Texas 
Revolution. Not only was it popular slogan back then, but the flag, originally fashioned out of a wedding dress, featuring a black star, 
canon, and the daring motto still represents Texas&#8217; independent spirit today!<br />
<img src="{% static 'images/SanJacMonument.png' %}" align="left"><br />
The San Jacinto Monument (which also has a museum and amphitheater) was dedicated “to heroes of the Battle of San Jacinto and all others 
who contributed to the independence of Texas.” Its construction began in 1936 (going until 1939), and it is made of Texas shell stone. This 
monument impressively stands at 570ft &#8211; the tallest war memorial and tallest monument in the world (surpassing the Washington monument 
by 15ft). Its shaft is 48 feet across at its base and 19 feet at the top, which holds the 220-ton star that rests on the monument’s apex.<br />
	</div>
</div>
{% endblock content %}