{% load static %}

<section style="left:0;width:100%;height:auto;top:;bottom:;right:;position:;margin-left:0" data-responsive="true" data-is-screen-width="true" data-col-margin="0" data-row-margin="0" class="strc1" id="comp-jswkwj93">
    <div style="position:absolute;top:0;width:calc(100% - 0px);height:100%;overflow:hidden;pointer-events:auto;left:0;right:0;bottom:0" data-page-id="llaa0" data-enable-video="true" data-bg-effect-name="" data-full-screen-height="" data-media-type="" data-use-clip-path="" data-needs-clipping="" data-wix-video-layout="true" class="strc1balata" id="comp-jswkwj93balata">
        <div style="position:absolute;width:100%;height:100%;top:0;background-color:transparent" class="bgColor" id="comp-jswkwj93balatabgcolor">
            <div style="width:100%;height:100%;position:absolute;top:0;background-image:;opacity:1" id="comp-jswkwj93balatabgcoloroverlay" class="bgColoroverlay"></div>
        </div>
    </div>
    <div style="position:relative;width:calc(100% - 0px);" id="comp-jswkwj93inlineContent" class="strc1inlineContent">
        <div style="position:relative;width:100%;left:0;flex:980;margin-left:0;top:0;margin-top:0;margin-bottom:0;height:;display:flex;bottom:;right:" data-content-width="980" data-is-mesh="true" class="mc1" id="comp-jswkwjar">
            <div class="mc1container" style="position:relative;height:100%;width:100%" id="comp-jswkwjarcontainer">
                <div style="position:absolute;top:0;width:100%;height:100%;overflow:hidden;pointer-events:auto;left:0;right:0;bottom:0" data-page-id="llaa0" data-enable-video="true" data-bg-effect-name="" data-full-screen-height="" data-media-type="" data-use-clip-path="" data-needs-clipping="" data-wix-video-layout="true" class="mc1balata" id="comp-jswkwjarbalata">
                    <div style="position:absolute;width:100%;height:100%;top:0;background-color:rgba(250, 250, 250, 1)" class="bgColor" id="comp-jswkwjarbalatabgcolor">
                        <div style="width:100%;height:100%;position:absolute;top:0;background-image:;opacity:1" id="comp-jswkwjarbalatabgcoloroverlay" class="bgColoroverlay"></div>
                    </div>
                </div>
                <div class="mc1inlineContentParent" style="position:relative;left:0;right:0;top:0;bottom:0" id="comp-jswkwjarinlineContentParent">
                    <div style="width:100%;position:relative;top:0;bottom:0" class="mc1inlineContent" id="comp-jswkwjarinlineContent">
                        
                        <link rel="stylesheet" href="{% static 'css/comp-jswkwjar-mesh-styles.css' %}">

                        <div id="comp-jswkwjarinlineContent-gridWrapper" data-mesh-internal="true">
                            <div id="comp-jswkwjarinlineContent-gridContainer" data-mesh-internal="true">
                                <div id="comp-jswl0kzv" data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="622" data-height="96" style="top:;bottom:;left:;right:;width:622px;height:96px;position:" class="style-k2uka2t7" data-state="desktop shouldUseFlex center">
                                    <a href="https://www.mediaonedge.com/connect" target="_self" id="comp-jswl0kzvlink" class="g-transparent-a style-k2uka2t7link">
                                        <span id="comp-jswl0kzvlabel" class="style-k2uka2t7label">FREE CONSULTATION</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>