{% load static %}
<section style="left:0;width:100%;height:auto;margin-top:145px;margin-left:0" data-responsive="true" data-is-screen-width="true" data-col-margin="0" data-row-margin="0" class="strc1 row-no-gutters" id="comp-jhratfn6">
                                                        
    <div style="position:absolute;top:0;width:calc(100% - 0px);height:100%;overflow:hidden;pointer-events:auto;left:0;right:0;bottom:0" data-page-id="llaa0" data-enable-video="true" data-bg-effect-name="" data-full-screen-height="" data-media-type="" data-use-clip-path="" data-needs-clipping="" data-wix-video-layout="true" class="strc1balata" id="comp-jhratfn6balata">
        <div style="position:absolute;width:100%;height:100%;top:0;background-color:transparent" class="bgColor" id="comp-jhratfn6balatabgcolor">
            <div style="width:100%;height:100%;position:absolute;top:0;background-image:;opacity:1" id="comp-jhratfn6balatabgcoloroverlay" class="bgColoroverlay"></div>
        </div>
    </div>
    <div style="position:relative;width:calc(100% - 0px);min-width:0px;  object-fit: cover;"  id="comp-jhratfn6inlineContent" class="strc1inlineContent">
        <div style="position:relative;width:100%;left:0;flex:980;margin-left:0;min-width:0px;top:0;margin-top:0;margin-bottom:0;height:;display:flex;bottom:;right:" data-content-width="980" data-is-mesh="true" class="mc1" id="comp-jhratfqh">
            <div class="mc1container" style="position:relative;height:100%;width:100%" id="comp-jhratfqhcontainer">
                <div style="position:absolute;top:0;width:100%;height:100%;overflow:hidden;pointer-events:auto;left:0;right:0;bottom:0" data-page-id="llaa0" data-enable-video="true" data-bg-effect-name="" data-full-screen-height="" data-media-type="WixVideo" data-use-clip-path="" data-needs-clipping="" data-wix-video-layout="true" class="mc1balata" id="comp-jhratfqhbalata">
                    <div style="position:absolute;width:100%;height:100%;top:0;background-color:transparent" class="bgColor" id="comp-jhratfqhbalatabgcolor">
                        <div style="width:100%;height:100%;position:absolute;top:0;background-image:;opacity:1" id="comp-jhratfqhbalatabgcoloroverlay" class="bgColoroverlay"></div>
                    </div>
                    
                    
                    <div class="video-container" style="position:absolute;pointer-events:auto;width:100%;height:100%;top:0;left:0; " data-has-bg-effect="" data-fitting="fill" data-align="center" data-container-id="comp-jhratfqh" data-page-id="llaa0" data-media-comp-type="video" class="bgMedia" id="comp-jhratfqhbalatamedia">
                        
                        <!-- header video playing window was changed by mis -->
                        
                        <video autoplay loop muted playsinline poster="" src="{% static 'video/2019+Texas+Independence+Relay.mp4' %}" type="video/mp4" ></video>
                        
                    </div>
                    <div style="position:absolute;width:100%;height:100%;top:0;background-color:transparent" class="bgOverlay" id="comp-jhratfqhbalataoverlay">
                        <div style="width:100%;height:100%;position:absolute;top:0;background-image:;opacity:1" id="comp-jhratfqhbalataoverlayoverlay" class="bgOverlayoverlay"></div>
                    </div>
                </div>
                <div class="mc1inlineContentParent" style="position:relative;left:0;right:0;top:0;bottom:0" id="comp-jhratfqhinlineContentParent">
                    
                    <div style="width:100%;position:relative;top:0;bottom:0" class="mc1inlineContent" id="comp-jhratfqhinlineContent">
                        
                        <link rel="stylesheet" href="{% static 'css/comp-jhratfqh-mesh-styles.css' %}">

                        <div id="comp-jhratfqhinlineContent-gridContainer" data-mesh-internal="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
