{% load static %}
<div id="SCROLL_TO_TOP" tabindex="-1" aria-label="top of page" role="region" style="height:0"></div>
<div id="FONTS_CONTAINER"></div>
<div id="SITE_BACKGROUND" style="height:100%;top:0;min-height:calc(100vh - 0px);bottom:;left:;right:;position:" class="siteBackground">
    <div id="SITE_BACKGROUND_previous_noPrev" data-position="absolute" data-align="" data-fitting="" class="siteBackgroundprevious">
        <div id="SITE_BACKGROUNDpreviousImage" class="siteBackgroundpreviousImage"></div>
        <div id="SITE_BACKGROUNDpreviousVideo" class="siteBackgroundpreviousVideo"></div>
        <div id="SITE_BACKGROUND_previousOverlay_noPrev" class="siteBackgroundpreviousOverlay"></div>
    </div>
    
    <!--background-color was changed by mis-->                
    <div id="SITE_BACKGROUND_current_llaa0_jswb2xlo_bg" style="top:0;height:100%;width:100%;background-color:rgb(10, 10, 10); display:;position:absolute" data-position="absolute" data-align="center" data-fitting="fill" class="siteBackgroundcurrent">
        <div id="SITE_BACKGROUND_currentImage_llaa0_jswb2xlo_bg" style="position:absolute;top:0;height:100%;width:100%" data-type="bgimage" data-height="100%" class="siteBackgroundcurrentImage"></div>
        <div id="SITE_BACKGROUNDcurrentVideo" class="siteBackgroundcurrentVideo"></div>
        <div id="SITE_BACKGROUND_currentOverlay_llaa0_jswb2xlo_bg" style="position:absolute;top:0;width:100%;height:100%" class="siteBackgroundcurrentOverlay"></div>
    </div>
</div>