{% load static %}
    <div data-aid="stylesContainer">
        <style type="text/css" data-styleid="style-k7yyjci7">.style-k7yyjci7 {display:none;}</style>

        <link rel="stylesheet" href="{% static 'css/pc1.css' %}" type="text/css" data-styleid="pc1">

        <link rel="stylesheet" href="{% static 'css/siteBackground.css' %}" type="text/css" data-styleid="siteBackground">

        <link rel="stylesheet" href="{% static 'css/style-jx7jrntw.css' %}" type="text/css" data-styleid="style-jx7jrntw">    
        
        <link rel="stylesheet" href="{% static 'css/style-jl5tydzn.css' %}" type="text/css" data-styleid="style-jl5tydzn">    

        <link rel="stylesheet" href="{% static 'css/txtNew.css' %}" type="text/css" data-styleid="txtNew">    

        <link rel="stylesheet" href="{% static 'css/style-jsjrg7t5.css' %}" type="text/css" data-styleid="style-jsjrg7t5">    

        <link rel="stylesheet" href="{% static 'css/strc1.css' %}" type="text/css" data-styleid="strc1">    

        <link rel="stylesheet" href="{% static 'css/lb1.css' %}" type="text/css" data-styleid="lb1">    

        <link rel="stylesheet" href="{% static 'css/ca1.css' %}" type="text/css" data-styleid="ca1">    

        <link rel="stylesheet" href="{% static 'css/style-jsijlaac.css' %}" type="text/css" data-styleid="style-jsijlaac">    
        
        <link rel="stylesheet" href="{% static 'css/style-jsijlabo1.css' %}" type="text/css" data-styleid="style-jsijlabo1">    

        <link rel="stylesheet" href="{% static 'css/style-jsijlafh2.css' %}" type="text/css" data-styleid="style-jsijlafh2">    
        
        <link rel="stylesheet" href="{% static 'css/style-k2uka2t7.css' %}" type="text/css" data-styleid="style-k2uka2t7">    
    
        <link rel="stylesheet" href="{% static 'css/style-k7yykd4t.css' %}" type="text/css" data-styleid="style-k7yykd4t">    

        <link rel="stylesheet" href="{% static 'css/tpaw0.css' %}" type="text/css" data-styleid="tpaw0">    
        
        <link rel="stylesheet" href="{% static 'css/style-k79voian.css' %}" type="text/css" data-styleid="style-k79voian">    
    
        <link rel="stylesheet" href="{% static 'css/s_DtaksTPAWidgetSkin.css' %}" type="text/css" data-styleid="s_DtaksTPAWidgetSkin">    
        
        <link rel="stylesheet" href="{% static 'css/video_style.css' %}" type="text/css" data-styleid="style_video">    

        <style type="text/css" data-styleid="comp-jsijlabu-rotated">#comp-jsijlabu {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-j9pujvmm-rotated">#comp-jsijlabu__item-j9pujvmm {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-j9pujwrr-rotated">#comp-jsijlabu__item-j9pujwrr {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-j9pujxu7-rotated">#comp-jsijlabu__item-j9pujxu7 {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-j9pujymd-rotated">#comp-jsijlabu__item-j9pujymd {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-jq8ljd5h-rotated">#comp-jsijlabu__item-jq8ljd5h {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-jq8ljdwl-rotated">#comp-jsijlabu__item-jq8ljdwl {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item-jq8ljems-rotated">#comp-jsijlabu__item-jq8ljems {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item1-rotated">#comp-jsijlabu__item1 {transform: rotate(270deg)}</style>
        <style type="text/css" data-styleid="comp-jsijlabu__item2-rotated">#comp-jsijlabu__item2 {transform: rotate(270deg)}</style>

    </div>