{% load static %}
<div class="font-ruler-container" style="overflow:hidden;visibility:hidden;max-height:0;max-width:0;position:absolute">
    <style>.font-ruler-content::after {content:"@#$%%^&*~IAO"}</style>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div>   </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div>    </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div>  </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div>  </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div></div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div> </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
            <div></div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div> </div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
    <div style="position:absolute;overflow:hidden;font-size:1200px;left:-2000px;visibility:hidden">
        <div style="position:relative;white-space:nowrap;font-family:serif">
            <div style="position:absolute;width:100%;height:100%;overflow:hidden">
                <div></div>
            </div>
            <span class="font-ruler-content"></span>
        </div>
    </div>
</div>