{% load static %}

<header data-is-absolute-layout="false" data-is-mobile="false" data-state="fixedPosition transition-allowed" data-site-width="980" data-header-top="0" style="position:fixed;margin-top:0;top:0;z-index:48;left:0;margin-left:0;width:100%;min-width:980px;bottom:;right:" class="style-jl5tydzn" id="SITE_HEADER">
    <div style="left:0;width:100%" id="SITE_HEADERscreenWidthBackground" class="style-jl5tydznscreenWidthBackground"></div>
        <div id="SITE_HEADERcenteredContent" class="style-jl5tydzncenteredContent">
            <div style="margin-left:calc((100% - 980px) / 2);width:980px" id="SITE_HEADERbg" class="style-jl5tydznbg"></div>
            <div id="SITE_HEADERinlineContent" class="style-jl5tydzninlineContent">

                <link rel="stylesheet" href="{% static 'css/SITE_HEADER-mesh-styles.css' %}">
                
                <div id="SITE_HEADERinlineContent-gridWrapper" data-mesh-internal="true">
                    <div id="SITE_HEADERinlineContent-gridContainer" data-mesh-internal="true">
                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:79px;height:auto;position:;pointer-events:none" class="txtNew" id="comp-jhtczhfj">
                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jhtccnhy">
                                    <span style="font-size:17px;">
                                        <span style="letter-spacing:0.1em;">
                                            <span style="font-weight:bold;">Clients</span>
                                        </span>
                                    </span>
                                </a>
                            </p>
                        </div>
                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:123px;height:auto;position:;pointer-events:none" class="txtNew" id="comp-jhtayq4v">
                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jhtaubdg">
                                    <span style="font-size:17px;">
                                        <span style="letter-spacing:0.1em;">
                                            <span style="font-weight:bold;">About Us</span>
                                        </span>
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:123px;height:auto;position:;pointer-events:none" class="txtNew" id="comp-jhtaz46c">
                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jhtaubdg">
                                    <span style="font-size:17px;">
                                        <span style="letter-spacing:0.1em;">
                                            <span style="font-weight:bold;">About Us</span>
                                        </span>
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div data-is-absolute-layout="false" style="top:;bottom:;left:;right:;position:" class="style-k6labjio" id="comp-jl5tyyw0">
                            <div id="comp-jl5tyyw0bg" class="style-k6labjiobg"></div>
                            <div class="style-k6labjioinlineContent" id="comp-jl5tyyw0inlineContent">
                                
                                <link rel="stylesheet" href="{% static 'css/comp-jl5tyyw0-mesh-styles.css' %}">

                                <div id="comp-jl5tyyw0inlineContent-gridWrapper" data-mesh-internal="true">
                                    <div id="comp-jl5tyyw0inlineContent-gridContainer" data-mesh-internal="true">
                                        <div style="top:;bottom:;left:;right:;width:252px;height:76px;position:" title="" data-is-responsive="false" data-display-mode="fill" data-content-padding-horizontal="0" data-content-padding-vertical="0" data-exact-height="76" class="ca1" id="comp-jqg0r3ib">
                                            <a style="cursor:pointer;width:252px;height:76px" href="https://www.mediaonedge.com" target="_self" id="comp-jqg0r3iblink" class="ca1link">
                                                
                                                <!--mark image in top meanu was changed by mis-->
                                                <img width="97px" height="76px" x="0" y="0" transform="" id="comp-jqg0r3ibimgimage"  src="{% static 'img/irelay_mark_white_icon.png' %}" > </img>
                                            
                                            </a>                                                                
                                        </div>
                                        
                                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:136px;height:auto;position:;pointer-events:none;visibility:visible" data-hidden="false" class="txtNew" id="comp-jfkdclx7">
                                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                                <!-- was changed from color_15 by mis-->
                                                <span class="color_0">
                                                    <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jhtapop6">
                                                        <span style="font-size:17px;">
                                                            <span style="letter-spacing:0.1em;">
                                                                <span style="font-weight:bold;">Home</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:136px;height:auto;position:;pointer-events:none;visibility:visible" data-hidden="false" class="txtNew" id="comp-jfkdclx8">
                                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                                <!-- was changed from color_15 by mis-->
                                                <span class="color_0">
                                                    <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jhtapop6">
                                                        <span style="font-size:17px;">
                                                            <span style="letter-spacing:0.1em;">
                                                                <span style="font-weight:bold;">TIR Info </span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <div data-packed="false" data-vertical-text="false" style="top:;bottom:;left:;right:;width:162px;height:auto;position:;min-height:18px;pointer-events:none;visibility:visible" data-min-height="18" data-hidden="true" class="txtNew" id="comp-jhtd08vj">
                                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                                <!-- was changed from color_15 by mis-->      
                                                <span class="color_0">
                                                    <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jsiluf3j">
                                                        <span style="font-size:17px;">
                                                            <span style="letter-spacing:0.1em;">
                                                                <span style="font-weight:bold;">TIR Resources</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:148px;height:auto;position:;pointer-events:none;visibility:visible" data-hidden="true" class="txtNew" id="comp-jhtazdqy">
                                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                                <!-- was changed from color_15 by mis--> 
                                                <span class="color_0">  
                                                    <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jsilw80n">
                                                        <span style="font-size:17px;">
                                                            <span style="letter-spacing:0.1em;">
                                                                <span style="font-weight:bold;">Results</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                
                                        <div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:120px;height:auto;position:;pointer-events:none;visibility:visible" data-hidden="true" class="txtNew" id="comp-jciuci46">
                                            <p class="font_7" style="font-size:17px; line-height:1.6em; text-align:center;">
                                                <!-- was changed from color_15 by mis-->
                                                <span class="color_0">
                                                    <a href="https://www.mediaonedge.com" target="_self" data-anchor="dataItem-jsilzhav">
                                                        <span style="font-size:17px;">
                                                            <span style="letter-spacing:0.1em;">
                                                                <span style="font-weight:bold;">Merchandise</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                    <div id="comp-jciuh0xo" data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="171" data-height="35" style="top:;bottom:;left:;right:;width:171px;height:35px;position:" class="style-jsjrg7t5" data-state="desktop shouldUseFlex center">
                                        <a href="https://www.mediaonedge.com/connect" target="_self" id="comp-jciuh0xolink" class="g-transparent-a style-jsjrg7t5link">
                                            <span id="comp-jciuh0xolabel" class="style-jsjrg7t5label">Register</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="SITE_HEADERinlineContent-wedge-3" data-mesh-internal="true"></div>
                    <div id="SITE_HEADERinlineContent-wedge-5" data-mesh-internal="true"></div>
                </div>
            </div>
        </div>
    </div>

</header>
