
{% load static %}
   <!-- META DATA -->
    <link rel="stylesheet" href="{% static 'css/viewerMainStyle.css' %}">

    <link rel="stylesheet" href="{% static 'css/v7.languages.css' %}">

    <link rel="stylesheet" href="{% static 'css/fonts.googleapis.css' %}">

    <title>Texas Independence Relay - THE Overnight Relay Race Adventure of Texas! </title>

    <meta name="description" content="Media On Edge is a Video Production company based in Austin, Texas that meets video production needs across the United States."/>

    <link rel="canonical" href="https://www.mediaonedge.com"/>

    <meta property="og:title" content="Video Production | Media On Edge | Austin, TX"/>

    <meta property="og:description" content="Media On Edge is a Video Production company based in Austin, Texas that meets video production needs across the United States."/>

    <meta name="keywords" content="Media On Edge, Brand Video, Event Video, Construction Video, Non-Profit Video, Sports Video, Real Estate Video, Fitness Video, Apartment Video, Manufacturing Video, Videography, Austin Texas Videography, Austin Texas Video Production, Video Production"/>

    <meta name="google-site-verification" content="Jdhqdr1MeDqmh-ZK1IuSRb3feaBnLbH4-ID8vzZGFOg"/>
    <script type="text/javascript"  src="{% static 'lib/jquery.min.js' %}"></script>



