<html>
<meta http-equiv="refresh" content="120">
<font face="Arial" size="2">
<center><img src="http://texasindependencerelay.com/tic-toc/tir_logo_small.jpg" alt="Texas Independence Relay" style="width:600px;height:128px"></center>
<i><center>Click the 'back' button on your browser to return to the Texas Independence Relay tracking map.</center></i>
<br>
<br>
<font face="Arial" size="5">
<b><center>All teams, all legs' paces</center></b>
<font face="Arial" size="4">
<center><a href="/tictocresults/teamnumbers_1_25">#1-25</a></center>
<center><a href="/tictocresults/teamnumbers_26_70">#26-70</a></center>
<center><a href="/tictocresults/teamnumbers_71_105">#71-105</a></center>
<center><a href="/tictocresults/teamnumbers_106_120">#106-120</a></center>
<center><a href="/tictocresults/teamnumbers_121_160">#121-160</a></center>
<center><a href="/tictocresults/teamnumbers_161_175">#161-175</a></center>
<center><a href="/tictocresults/teamnumbers_176_190">#176-190</a></center>
<center><a href="/tictocresults/teamnumbers_191_215">#191-215</a></center>
<center><a href="/tictocresults/teamnumbers_216_230">#216-230</a></center>
<center><a href="/tictocresults/teamnumbers_231_9999">#231-9999</a></center>
<br>

</html>