<html>
<meta http-equiv="refresh" content="120">
<font face="Arial" size="2">
<center><img src="http://texasindependencerelay.com/tic-toc/tir_logo_small.jpg" alt="Texas Independence Relay" style="width:600px;height:128px"></center>
<i><center>Click the 'back' button on your browser to return to the Texas Independence Relay tracking map.</center></i>
<br>
<br>
<font face="Arial" size="5">
<center>How do I see my team's ETAs?</center><br>
<font face="Arial" size="3">
<center>
To see your team's ETAs (projected future exchange times based on the team's current overall pace):<br>1) Either click on the Team Name links found in the team's infobox;<br>2) Or, click on the Team's name within the scrolling team menu (located at the bottom right corner of the map.) 
<br>
<img src="http://texasindependencerelay.com/tic-toc/teamsetalinks.jpg">
</center>
</html>