{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="section clearfix">
	<div class="container">
		<h1>Come ONE, Come All -  Join the Welcome Wagon!</h1>
            <img src="{% static 'images/WelcomeWagon.jpg' %}" height="492" width="750" img align="middle"><BR>
		<div id="intro">
                  Want to run the TIR but don't have a team?  No problem! Join a team made of individuals like you by simply clicking on the link below and sign up!  Many of these teams have been assembled over the years, and they work out great.  Running-wise, the goal is just to finish and have a ton of fun in the process.  If there is any expectation, it is to appreciate EVERY team member and what they uniquely bring to the team.<br><br>

                  As the race nears, teams will be formed based on  the following:<br> 
                        1) Whether or not you are joining with a friend or small group (if so, please let us know this - as well as any other information you think we should know - by sending us an email at <a href="mailto:admin@texasindependencerelay.com?Subject=Individual%20Entrant%20Info!" target="_top">Admin@TexasIndependenceRelay.com</a>),<br> 
                        2) your geographic location, and <br>
                        3) any other criteria we deem appropriate. <br><br>
                        
                  Don't worry, these teams are formed with great care, and you will have an awesome time!<br><br>

                  IF teams are incomplete (fewer than 10) as the race approaches, we will combine compatible teams or ask if you would be willing to help fill an already established team (that also paid by individual).  <B> Note to teams:  Please do not plan on picking up runners from the Welcome Wagon. </B><br><br>
                        
                  In short, everything will work out exceptionally well! We are confident (with plenty of experience behind us) that there is a fantastic spot at the TIR for EVERY person who registers.  If for some unforeseen (not at all likely) reason we are not able to place you on a team, your entry fee will be refunded IN FULL.<br><br>
                  
                  <B><a href="/register/123321">CLICK HERE & JOIN THE TIR!</a></B>          
		</div>
      
      <div class="container margintop">
</div>
</div>
{% endblock content %}