{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="section clearfix">
	<div class="container">
		<h1 class="entry-title">TIR Video</h1>
		<div class="entry-content">
		<p><strong>A fun 80s rock video to provide a a glimpse what the Texas Independence Relay is like!</strong><br />
			<iframe width="600" height="335" src="http://www.youtube.com/embed/XAeFpu8l5tM" frameborder="0" allowfullscreen></iframe>
			<br /><br /></p>
		<p><strong>A video to help you train&#8230; or not&#8230;</strong></p>
		<p><object width="600" height="360">
			<param name="movie" value="http://www.youtube.com/v/fj3xYKP_84U?fs=1&amp;hl=en_US"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="http://www.youtube.com/v/fj3xYKP_84U?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" 
				allowscriptaccess="always" allowfullscreen="true" width="600" height="360"></embed>
			</object><br /><br /></p>
		<p><strong>The informational video sent to teams before the 2011 TIR</strong></p>
		<p><iframe width="600" height="335" src="http://www.youtube.com/embed/vo_XaSmMJbA" frameborder="0" allowfullscreen></iframe>
			<br /><br /></p>
		<p><strong>2010 Chisholm Trailers</strong></p>
		<p><object width="600" height="360">
			<param name="movie" value="http://www.youtube.com/v/eOg0IkTg6es?fs=1&amp;hl=en_US"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="http://www.youtube.com/v/eOg0IkTg6es?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" 
				allowscriptaccess="always" allowfullscreen="true" width="600" height="360"></embed>
			</object><br /><br /></p>
		<p><strong>Governor Rick Perry from the Texas Independence Relay</strong></p>
		<p><object width="600" height="360">
			<param name="movie" value="http://www.youtube.com/v/Yy1RC-cWwKw?fs=1&amp;hl=en_US"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="http://www.youtube.com/v/Yy1RC-cWwKw?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" 
				allowscriptaccess="always" allowfullscreen="true" width="600" height="360"></embed></object><br /><br /></p>
		<div style="clear:both;"></div>
	</div>
</div>

{% endblock content %}