{% extends 'tirinfo/index.html' %}
{% load static %}
{% block content %}

    <div class="container"  >
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/map">
                            <u>Maps</u>
                        </a>
                    </h2>
                    <p>Interactive map with links to individual leg maps.</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/relayresources">
                            <u>Relay Resources</u>
                        </a>
                    </h2>
                    <p>Maps, Leg Rankings & Summaries, Exchange Coordinates, Written Directions, Leg
                        Descriptions, PDF Maps, Rules, Waiver, all the tools you need to organize a
                        successful relay!</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/faq">
                            <u>FAQ</u>
                        </a>
                    </h2>
                    <p>Frequently asked questions. Check here if your question seems like something
                        that would come up for most teams.</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/results">
                            <u>Results and Awards</u>
                        </a>
                    </h2>
                    <p>Results and awards from previous years.</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/videos">
                            <u>Videos</u>
                        </a>
                    </h2>
                    <p>Instructional videos and other content.</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="https://www.facebook.com/TexasIndependenceRelay">
                            <u>Facebook</u>
                        </a>
                    </h2>
                    <p>Our Facebook page. Use it for finding teams right now.</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <a href="/team">
                            <u>Team</u>
                        </a>
                    </h2>
                    <p>Your team page (link only works if you are logged in and linked to a team).</p>
                </div>
            </div>
        </div>
        <div class="row margintop">
            <div class="col-lg-10 col-md-9">
                <div class="portfolio-item vertical-divider-right">
                    <h2 class="title">
                        <u>Contact Us</u>
                    </h2>
                    <p>Give us a call at 512-716-5041 if you have a question (or just want to talk)!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}